$fa-font-path : "./webfonts";
@import '/node_modules/@fortawesome/fontawesome-free/scss/fontawesome.scss';
@import '/node_modules/@fortawesome/fontawesome-free/scss/brands.scss';
@import '/node_modules/@fortawesome/fontawesome-free/scss/regular.scss';
@import '/node_modules/@fortawesome/fontawesome-free/scss/solid.scss';
@import '@fontsource/montserrat/index.css';
@import '@fontsource/montserrat/700.css';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}